@page "/AllBooks"
@using BookOnShelf.Data.Models
@using BookOnShelf.Data
@using Microsoft.EntityFrameworkCore


@inject ApplicationDbContext context


@rendermode InteractiveServer
<PageTitle>All Books</PageTitle>

<div class="row row-cols-1 row-cols-md-3 g-4">
    @foreach (var book in books)
    {
        <div class="card" style="width: 18rem;">
            <img src="@book.FrontCover" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">@book.Title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    }
    
</div>

@code {
    public List<Books> books;
    public List<BooksWriters> booksWriters;

    protected override async Task OnInitializedAsync()
    {
        booksWriters = await context.BooksWriters.ToListAsync();

        books = await context.Books
        .Include(books => books.Language)
        .Include(books => books.Genre)
        .ToListAsync();
    }

}
