@page "/AllBooks"
@using BookOnShelf.Data.Models
@using BookOnShelf.Data
@using Microsoft.EntityFrameworkCore


@inject ApplicationDbContext Context


@rendermode InteractiveServer
<PageTitle>All Books</PageTitle>

<div class="row row-cols-1 row-cols-md-3 g-4">
    @if(Books != null)
    {
        @foreach (var book in Books)
        {
            <div class="card" style="width: 18rem;">
                <img src="@book.FrontCover" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">@book.Title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        }
    }
    else
    {

    }
    
    
</div>

@code {
    public List<Books> Books;
    public List<BooksWriters> BooksWriters;

    protected override async Task OnInitializedAsync()
    {
        BooksWriters = await Context.BooksWriters.ToListAsync();

        Books = await Context.Books
        .Include(books => books.Language)
        .Include(books => books.Genre)
        .ToListAsync();
    }

}
